html {
  font-size: 16px;
}

body {
    background-color: rgba(255, 240, 240, 0.384);
    color: purple;
    font-size: 2rem;
  }

  .title {
    color: white;
    background-color:purple;
    font-size: 5rem;
    display:flex;
    justify-content: center;
    padding: 0.2rem;
  }

  .hullibulli {
    color: green;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .joke {
    border-bottom: 1px solid green;
    padding: 1rem;
  }
